node_modules/
out/
dist/
release/
*.log
*.local
*.tsbuildinfo
.vscode/
.idea/
.DS_Store
Thumbs.db

resources/xiloader/xiloader.exe
resources/ashita/**
!resources/ashita/.gitkeep
!resources/xiloader/.gitkeep
